body
{
    margin: 2% 12%;
}

.header-tags
{
    text-align: center;
}

#input-label
{
    margin-right: 3%;
}

#input-button
{
    width: 20%;
}

#preview-div
{
    border: black 1px solid;
    margin-top: 8%;
    margin-left: 6%;
    padding-right: 30%;
    width: 70%;
    height: auto;
    background-color: aliceblue;
}

.popup-color
{
    background-color: rgba(0, 0, 0, 0.87);
}

.dissapear
{
    visibility: hidden;
}

/* .preview-elements
{
    margin-left: 4%;
    /* display: flex; */
    /* flex-wrap: wrap;  */
    /* justify-content: space-between; */
/* } */

#preview-button
{
    width: 40%;
    padding: 2%;
    margin-bottom: 3%;
    position: relative;
    left: 70%;
}