body
{
    margin: 2% 12%;
}

.header-tags
{
    text-align: center;
}

.container
{
    width: 100%;
    height: 100%;
}

#input-label
{
    margin-right: 3%;
}

#input-button
{
    width: 20%;
}

#preview-div
{
    border: black 1px solid;
    margin-top: 8%;
    /* padding-right: 50%; */
    /* padding-left: 2%; */
    /* margin-left: 6%; */
    /* padding-right: 30%; */
    /* width: 100%; */
    /* height: 100%; */
    background-color: aliceblue;
}

.popup-color
{
    background-color: rgba(0, 0, 0, 0.87);
}

.dissapear
{
    visibility: hidden;
}

.preview-elements
{
    padding-top: 4%;
    padding-left: 4%;
    margin-right: 2%;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly;*/
}

.question-label
{
    max-width: 50%;
    padding-right: 20%;
    padding-bottom: 3%;
}

#preview-button
{
    max-width: 40%;
    padding: 4%;
    /* margin-left: 3%; */
    margin-top: 12%;
    margin-bottom: 3%;
    /* margin-right: 10%; */
    
    position: relative;
    right: 14%;
}