body
{
    margin: 2% 12%;
}

.header-tags
{
    
    text-align: center;
}

#input-label
{
    margin-right: 3%;
}

#input-button
{
    width: 20%;
}

#preview-div
{
    border: black 1px solid;
    margin-top: 8%;
    margin-left: 6%;
    width: 800px;
    height: 500px;
    background-color: white
}

.popup-color
{
    background-color: rgba(0,0,0,0.4);
}