/* Fonts */
/* Using google fonts */
/* These fonts are so beautiful *_* */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* ---------------------------------- */

/* Default Styles */
body
{
    margin: 2% 12%;
}

.header-tags
{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.input-div
{
    font-family: 'Poppins', sans-serif;
    margin-top: 8%;
}

.container
{
    width: 100%;
    height: 100%;
}

#input-label
{
    margin-right: 3%;
}

#input-text
{
    text-align: center;
}

#input-button
{
    width: 20%;
}

#preview-div
{
    font-family: "Arial", sans-serif;
    border: black 3px solid;
    margin-top: 8%;
    background: aliceblue;
    margin-right: 12%;
    margin-left: 12%;
}

.popup-color
{
    background-color: rgba(0, 0, 0, 0.87);
}

.dissapear
{
    visibility: hidden;
}

.preview-elements
{
    padding-top: 4%;
    padding-left: 4%;
    display: flex;
    flex-wrap: wrap;
}

.preview-question-label
{
    max-width: 40%;
    padding-right: 10%;
    padding-bottom: 5%;
}

#preview-button
{
    max-width: 22%;
    padding: 4% 2%;
    margin-top: 20%;
    margin-bottom: 3%;
    
    /* Positioning the button */
    position: relative;
    right: 10%;
}

#score-label
{
    font-family: 'Lato', sans-serif;
    margin-left: 43%;
    font-size: 30px;
}

.question-container-div
{
    border: 3px solid black;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}

.question-elements-div
{
    display: flex;
    flex-wrap: wrap;
}

.question-num-label
{
    margin-left: 1%;
}

.question-label
{
    margin-left: 38%;
    margin-right: 8%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-right: 20%;
}

.answers-buttons
{
    max-width: 12%;
    margin-left: 30%;
    margin-bottom: 5%;
    margin-right: 6%;
}

.correct-answer
{
    background-color: rgb(52, 241, 52);
    font-weight: bold;
}

.wrong-answers
{
    background-color: rgb(235, 107, 107);
    font-weight: bold;
}

.result-div
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#result-button
{
    width: 30%;
    padding: 5%;
}






/* -------------------------------------------- */
/*      Media Querys For Different Devices */
/* -------------------------------------------- */

/* For Larger Screens */
@media (min-width: 2560px)
{
    body
    {
        margin: 0;
    }

    .input-div
    {

        margin-top: 4%;
        margin-left: 7%;
    }

    #input-label
    {
        margin-left: 22%;
    }

    #preview-div
    {
        margin: 0 auto;
    }

    .preview-elements
    {
        padding-top: 4%;
        padding-left: 4%;
        display: flex;
        flex-wrap: wrap;
    }

    .preview-question-label
    {
        padding-right: 50%;
        padding-bottom: 5%;
        max-width: 8%;
    }

    #preview-button
    {
        max-width: 30%;
        padding: 4% 8%;
        margin-top: 4%;
        margin-bottom: 3%;
        
        /* Positioning the button */
        position: relative;
        right: 10%;
    }

    #score-label 
    {
        margin-left: 48%;
    }

    .question-container-div
    {
        margin-bottom: 0%;
    }

    .question-label
    {
        margin-left: 38%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-right: 20%;
    }

    .answers-buttons
    {
        margin-left: 31%;
        margin-bottom: 6%;
    }

    .result-div
    {
        font-size: 26px;
    }

    #result-button
    {
        width: 28%;
        padding: 3%;
    }

}

/* For Large Screen */
@media (max-width: 1440px)
{
    body
    {
        margin: 0;
    }

    .input-div
    {

        margin-top: 4%;
        margin-left: 7%;
    }

    #input-label
    {
        margin-left: 12%;
    }

    #preview-div
    {
        margin: 0 auto;
    }

    .preview-elements
    {
        padding-top: 4%;
        padding-left: 4%;
        display: flex;
        flex-wrap: wrap;
    }

    .preview-question-label
    {
        max-width: 15%;
        padding-right: 36%;
        padding-bottom: 5%;
    }

    #preview-button
    {
        max-width: 22%;
        padding: 3% 6%;
        margin-top: 9%;
        margin-bottom: 3%;
        
        /* Positioning the button */
        position: relative;
        right: 10%;
    }

    #score-label 
    {
        margin-left: 44%;
    }

    .question-container-div
    {
        margin-bottom: 0%;
    }

    .question-label
    {
        margin-left: 30%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-right: 20%;
    }

    .answers-buttons
    {
        max-width: 5%;
        margin-left: 31%;
        margin-bottom: 6%;
    }

    #result-button
    {
        width: 34%;
        padding: 4%;
    }

}

/* For Medium Screen */
@media (max-width: 1024px)
{
    body
    {
        margin: 0;
    }

    .input-div
    {
        margin-top: 5%;
        margin-left: 13%;
    }

    #input-label
    {
        font-size: 19px;
        margin-left: 12%;
    }

    #input-text
    {
        margin-top: 3%;
        margin-left: 24%;
    }

    #preview-div
    {
        margin: 0 auto;
    }

    .preview-elements
    {
        padding-top: 4%;
        padding-left: 3%;
    }

    .preview-question-label
    {
        max-width: 22%;
        padding-bottom: 8%;
        margin-right: 6%;
    }

    #preview-button
    {
        max-width: 23%;
        padding: 3% 4%;
        margin-top: 4%;
        margin-bottom: 3%;
        position: relative;
        left: 7%;
    }

    #score-label 
    {
        margin-left: 42%;
    }

    .question-container-div
    {
        margin-bottom: 0%;
    }

    .question-label
    {
        margin-left: 30%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-right: 20%;
    }

    .answers-buttons
    {
        max-width: 11%;
        margin-left: 30%;
        margin-bottom: 6%;
    }

    #result-button
    {
        width: 42%;
        padding: 6%;
    }

}

/* For Tablet Devices */
@media (max-width: 768px)
{
    body
    {
        margin: 0;
    }

    .input-div
    {
        margin-top: 5%;
        margin-left: 13%;
    }

    #input-label
    {
        font-size: 18px;
        margin-left: 6%;
    }

    #input-text
    {
        margin-top: 3%;
        margin-left: 20%;
    }

    #preview-div
    {
        margin: 0 auto;
    }

    .preview-elements
    {
        padding-top: 4%;
        padding-left: 3%;
    }

    .preview-question-label
    {
        padding-bottom: 8%;
        margin-right: 0%;
    }

    #preview-button
    {
        max-width: 30%;
        padding: 3% 1%;
        margin-top: 22%;
        margin-bottom: 3%;
        position: relative;
        left: 2%;
    }

    #score-label 
    {
        margin-left: 40%;
    }

    .question-container-div
    {
        margin-bottom: 0%;
    }

    .question-label
    {
        margin-left: 27%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-right: 0%;
        margin-right: 22%;
    }

    .answers-buttons
    {
        max-width: 17%;
        margin-left: 27%;
        margin-bottom: 6%;
    }

    #result-button
    {
        width: 68%;
        padding: 12%;
    }

}

/* For Large Mobile Devices */
@media (max-width: 425px)
{
    body
    {
        margin: 0;
    }

    .input-div
    {
        margin-top: 8%;
    }

    #input-label
    {
        font-size: 22px;
        margin-left: 6%;
    }

    #input-text
    {
        margin-top: 10%;
        margin-left: 12%;
    }

    #preview-div
    {
        margin: 0 auto;
    }

    .preview-elements
    {
        padding-top: 4%;
        padding-left: 3%;
    }

    .preview-question-label
    {
        margin-right: 0%;
        padding-bottom: 8%;
    }

    .preview-answer-label
    {
        margin-bottom: 6%;
    }

    #preview-button
    {
        max-width: 40%;
        padding: 3% 5%;
        margin-top: 2%;
        margin-bottom: 3%;
        position: relative;
        left: 35%;
    }

    #score-label 
    {
        margin-left: 30%;
    }

    .question-container-div
    {
        margin-bottom: 0%;
    }

    .question-label
    {
        margin-left: 20%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-right: 8%;
    }

    .answers-buttons
    {
        max-width: 23%;
        margin-left: 21%;
        margin-bottom: 6%;
        margin-right: 5%;
    }

    #result-button
    {
        width: 68%;
        padding: 12%;
    }

}

/* For Medium Mobile Devices */
@media (max-width: 375px)
{
    body
    {
        margin: 0;
    }

    .input-div
    {
        margin-top: 8%;
    }

    #input-label
    {
        margin-left: 0%;
    }

    #input-text
    {
        margin-top: 10%;
        margin-left: 10%;
    }

    #preview-div
    {
        margin: 0 auto;
    }

    .preview-elements
    {
        padding-top: 4%;
        padding-left: 3%;
    }

    .preview-question-label
    {
        max-width: 20%;
        padding-bottom: 8%;
        margin-right: 0%;
    }

    .preview-answer-label
    {
        margin-bottom: 10%;
    }

    #preview-button
    {
        max-width: 50%;
        padding: 4% 7%;
        margin-top: 6%;
        margin-bottom: 3%;
        position: relative;
        left: 10%;
    }

    #score-label 
    {
        margin-left: 30%;
    }

    .question-container-div
    {
        margin-bottom: 0%;
    }

    .question-label
    {
        margin-left: 30%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-right: 20%;
    }

    .answers-buttons
    {
        max-width: 30%;
        margin-left: 30%;
        margin-bottom: 6%;
        margin-right: 1%;
    }

    #result-button
    {
        width: 68%;
        padding: 12%;
    }

}

/* For Small Mobile Devices */
@media (max-width: 320px)
{
    body
    {
        margin: 0;
    }

    .input-div
    {
        margin-top: 8%;
    }

    #input-label
    {
        font-size: 22px;
    }

    #input-text
    {
        margin-top: 10%;
        margin-left: 8%;
    }

    #preview-div
    {
        margin: 0 auto;
        font-size: 68%;
    }

    .preview-question-label
    {
        max-width: 25%;
        padding-bottom: 15%;
    }

    .preview-answer-label
    {
        margin-bottom: 10%;
        margin-right: 0%;
    }

    #preview-button
    {
        max-width: 40%;
        padding: 1%;
        margin-top: 0%;
        margin-bottom: 3%;
        position: relative;
        left: 50%;
    }

    #score-label 
    {
        margin-left: 30%;
    }

    .question-container-div
    {
        margin-bottom: 0%;
    }

    .question-label
    {
        margin-left: 21%;
        padding-top: 3%;
        padding-bottom: 5%;
        padding-right: 0%;
    }

    .answers-buttons
    {
        max-width: 65%;
        margin-left: 25%;
        margin-bottom: 6%;
        margin-right: 15%;
    }

    #result-button
    {
        width: 68%;
        padding: 12%;
    }

}